<!-- header -->
<header class="header">
    <div class="container">
        <img class="profile-image img-circle img-responsive pull-left" src="/assets/images/profile.jpg" alt="Miroslav Vidović" />
        <div class="profile-content pull-left">
            <h1 class="name">Miroslav Vidović</h1>
            <h2 class="desc">IT Engineer, Software Developer, Linux Enthusiast</h2>
            <ul class="social list-inline">
                <li><a href="https://twitter.com/VidovicMiroslav"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/107567994568689969524"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/miroslav-vidovi%C4%87-3a0b2295"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/miroslavvidovic"><i class="fa fa-github-alt"></i></a></li>
                <li class="https://bitbucket.org/vidovicmiroslav/"><a href=""><i class="fa fa-bitbucket"></i></a></li>
            </ul>
        </div><!--/profile-->
    </div><!--/container-->
</header>
<!--/header-->
